<!DOCTYPE html>
<html>
<body>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">OURtube</a>  
            </ul>
          </div>
        </div>
      </nav>
      <center>
      <video width="1136" height="639" controls="controls" preload="metadata">
        <source src={{ url_for('static', filename=name ) }} type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <h5>{{ name }}</h5>
    </center>
      
</head>
</body>
</html>